*.pyc
*.py~
.DS_Store
conf.py
locale
latest_updates.json
.wnf-lang-status
*.egg-info
dist/
erpnext/public/dist
erpnext/docs/current
*.swp
*.swo
__pycache__
*~
.idea/
.vscode/
node_modules/
.backportrc.json
# local keys
git_key
git_key.pub

# local keys
git_key
git_key.pub
